body {
    background-color: black;
}

.col-md-4 {
    color: white;
}

.eg-bg-orange {
    background-color: #f4be17;
}

.eg-bg-green {
    background-color: #01a8ab83;
}

.eg-bg-black {
    background-color: rgb(46, 46, 46);
    color: white;
}

.eg-bg-black-border {
    border: black;
}

a {
    color: black;
}

i {
    margin: 10px;
}