html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9fbff;
}

.border-bottom {
    border-width: 4px !important;
    border-color: #f44a4b !important;
}

.eg-bg-colour2 {
    background-color: #31cbff;
}

.eg-bg-colour3 {
    background-color: #ffd130;
}

.eg-bg-black {
    background-color: rgb(46, 46, 46);
    color: white;
}

.eg-bg-black-border {
    border: black;
}

a {
    color: black;
}

i {
    margin: 10px;
}

.carousel-inner img {
    max-height: 500px;
}

.carousel-inner>.item>img {
    margin: 0 auto;
}